{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "expo-router/babel",
    "react-native-paper/babel",
    "react-native-reanimated/plugin"
  ]
}
